@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@model  Recon_Model.CategoryViewModel
<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 30%;
        font-weight: normal;        
    }

    .form-horizontal .form-group {
        margin-right: 25px;
        margin-left: -15px;
    }

    .k-edit-form-container {
        position: relative;
        width: 100%;
    }
    .k-window > div.k-popup-edit-form {
    padding: 1em 0;
    overflow: hidden;
}
</style>
<!--<div>
    <table style="border:1px;">
        <tr>
            <td>@Html.Label("Category", new { style = "width:80px;margin-left: 11%; " })</td>
            <td>@Html.TextBoxFor(model => model.Category_name, new { style = "height:25px;width: 175px;font-weight:normal;margin-left: 2%; " })</td>          
        </tr>
        <tr style="height:20px"></tr>
        <tr>
            <td>@Html.Label("Status", new { style = "width:80px;margin-left: 11%; " })</td>
            <td>        
                <input type="radio" id="Status" name="Status" value="Y" checked>  Active     
                @*<input data-val="true" data-val-required="Status Should not be blank" id="Status" name="Status" type="radio" value="Y" data-bind="checked:Status" class="k-valid">  Active*@             
               @* @Html.RadioButtonFor(model => model.Status, "N") InActive*@  
                <input type="radio" id="Status" name="Status" value="N">InActive
            </td>
        </tr>
    </table>
</div>-->
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            @Html.Label("Category", new { style = "font-size: 14px;font-weight: 600 !important;" })
            @Html.TextBoxFor(model => model.Category_name, new { style = "" })
        </div>
        <div class="col-sm-2">
            @Html.Label("Status", new { style = "font-size: 14px;font-weight: 600 !important;" })<br />
            <input type="radio" id="Status" name="Status" value="Y" checked>  Active
            <input type="radio" id="Status" name="Status" value="N">InActive
        </div>
    </div>
</div>

